.footer {
  background-color: var(--footerBg);
  position: relative;
  margin-top: 15rem;
  &__container {
    $footer-container: 1350px;
    $footer-container-padding: 15px;
    padding: 0 $footer-container-padding;
    max-width: calc($footer-container + $footer-container-padding);
    margin-inline: auto;
  }
  &__body {
    padding: 47px 0px 85.5px 0px;
    position: relative;
    z-index: 10;
    display: grid;
    grid-gap: 34px;
  }
  &__cometa {
    z-index: 1;
    position: absolute;
  }
  .top-cometa {
    top: -100px;
    left: calc(var(--logoSize) + 38px);
  }
  .bottom-cometa {
    transform: rotate(90deg);
    bottom: 10px;
    right: calc(0px + 157px);
    img {
      width: 141px;
    }
  }
  &__logo {
    width: var(--logoSize);
    height: var(--logoSize);
  }
  &__top,
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    justify-content: unset;
  }
  &__social {
    margin-left: auto;
  }
  &__button {
    margin-left: auto;
  }
  &__links {
    display: grid;
    grid-gap: 28px;
  }
  &__nav {
    max-width: 38.625rem;
    margin-left: clamp(100px, 19.5625vw, 313px);
  }
  .footer-nav__list,
  .bottom-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__nav {
    max-width: 38.625rem;
  }
  &__link-item {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
  }
  &__info {
    font-weight: 500;
    font-size: 20px;
  }
  &__icon {
    height: 28px;
  }
  &__bottom-links {
    margin-top: auto;
  }
  &__bottom {
    align-items: unset;
  }
  &__social {
    margin-top: auto;
  }
  &__button {
    max-width: 130px;
    font-size: 24px;
    font-weight: 500;
    color: var(--clrLight);
    text-align: right;
  }
  &__bottom {
    justify-content: unset !important;
  }
}

.footer-nav {
  &__list {
    grid-gap: 1rem 0;
  }
  &__item {
    &:nth-child(1) {
      padding-left: 24px;
      margin-right: 67px;
    }
    &:nth-child(2) {
      margin-right: 83px;
    }
    &:nth-child(3) {
      padding-right: 58px;
    }
    &:nth-child(4) {
      margin-right: 75px;
    }
    &:nth-child(5) {
      margin-right: 58px;
    }
  }
  &__link {
    transition: all var(--transShort) var(--ease);
    font-weight: 500;
    &:hover {
      text-shadow: var(--hoverShadow);
    }
    font-size: clamp(20px, 1.875vw, 30px);
  }
}

.bottom-links {
  margin-left: 104px;
  &__link {
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 120px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  grid-gap: 0.9375rem;
  &__item {
    &:nth-child(1) {
      height: 40px;
    }
    &:nth-child(2) {
      height: 50px;
    }
  }
}

@include max-width(1230px) {
  .footer {
    &__top,
    .footer__bottom {
      flex-wrap: wrap
    }
    &__top {
      grid-gap: 1.5rem;
      flex-direction: column;
    }
    &__nav {
      margin-inline: auto;
      max-width: 25rem;
    }
    &__button {
      margin-inline: auto;
      text-align: center;
    }
    &__social {
      justify-content: center;
      margin: 0;
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
      grid-gap: 1.5rem;
    }
    &__links {
      justify-content: center;
    }
    &__link-item {
      justify-content: center;
    }
  }
  .bottom-links {
    margin-inline: auto;
    grid-gap: 1rem;
    &__item {
      padding: 0 !important;
    }
  }
  .footer-nav {
    margin-inline: auto;
    &__list {
      max-width: 360px;
      justify-content: center;
      grid-gap: 1rem;
      flex-wrap: wrap;
    }
    &__item {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

@include max-width(46.875em) {
  .footer {
    &__body {
      margin-inline: auto;
    }
    &__container {
      max-width: 700px;
    }
    .hidden-list {
      margin-top: 143px;
      display: flex;
    }
    &__social {
      display: none;
    }
    &__links {
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__link-item {
      justify-content: flex-start;
    }
    &__social--hidden {
      .social {
        flex-direction: column;
        grid-gap: 1.5rem;
      }
    }
    &__body {
      width: fit-content;
      display: grid;
      justify-content: center;
    }
    &__bottom-links {
      width: fit-content;
    }
    .bottom-links {

      flex-direction: column;
      margin: 50px 0px 0px;
      &__item {
        padding: 0;
      }
    }
    &__nav {
      margin-left: 0;
      width: fit-content;
    }
    &__top {
      align-items: flex-start;
      display: grid;
      grid-gap: 0 2.3125rem;
      grid-template-columns: auto 1fr;
    }
    &__logo {
      width: 40px;
      height: 40px;
      img {
        width: inherit;
      }
    }
    &__button {
      max-width: 100%;
      width: 100%;
      grid-column: 2 / 3;
      font-size: 1.25rem;
      justify-content: center;
      margin-top: 20px;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
    }
    .footer-nav {
      &__list {
        align-items: center;
        text-align: center;
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
      }
      &__item {
        margin: 0;
        padding: 0;
      }
      &__link {
        font-size: 1.25rem;
      }
    }
  }
}

  .hidden-list {
    display: none;
  }
  .footer {

  }

