:root {
  --bodyGap: 6.375rem;
  --descrWidth: 41.4375rem;
  --btnRowGap: 1.6875rem;
}

.hero {
  position: relative;
  padding-bottom: 7rem;
  @include max-width(1030px) {
    overflow: hidden;
  }
  &::after {
    @include psevdo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../../img/hero/sun-effect.webp');
    background-repeat: no-repeat;
    background-position: 50% 65.3%;
  }
  &::before {
    @include psevdo;
    top: 9rem;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../img/hero/spirals.svg');
  }
  &__sun-image {
    position: relative;
    z-index: 5;
  }
  .planet-image {
    z-index: 15;
    position: absolute;
    transition: all 500ms ease;
    img {
      width: inherit;
    }
  }
  &__saturn {
    right: -12%;
    bottom: 20%;
    transform: rotate(-150deg);
    width: clamp(243px, 33.6875vw, 532px);
  }
  &__jupiter {
    left: 1rem;
    bottom: 33%;
  }
  &__earth {
    top: 30%;
    right: 10%;
    max-width: 11.375rem;
  }
  &__venera {
    right: 25%;
    top: 32%;
  }
  &__cometa {
    left: 0;
    top: 20%;
  }
  &__mars {
    left: 0;
    bottom: 3rem;
    max-width: 200px;
    transition: transform 500ms ease, opacity 400ms ease .3s;
    img {
      max-width: inherit;
    }
  }
  &__mercury {
    top: 60%;
    left: 40%;
  }
  &__btn {
    font-size: 1.875rem;
    font-weight: 500;
  }
  &__body {
    margin: 73px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: var(--bodyGap);
  }
  &__btn-row {
    margin-top: var(--btnRowGap);
    justify-content: center;
    display: flex;
    grid-gap: var(--btnRowGap);
  }
  &__offer {
    position: relative;
    z-index: 5;
  }
  &__descr {
    max-width: var(--descrWidth);
    text-align: center;
    p {
      font-family: var(--fontFuturaLight);
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

@include max-width(65.625em) {
  .hero {
    &__container {
      margin: 0px -24px;
    }
  }
}

.vanishedPlanet {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 75.625em) {
  .hero {
    &::after {
      background-size: contain;
      top: 0;
      background-position: 50% -20vh;
    }
  }
}

@media only screen and (max-width: 75.625em) {
  .hero {
    &::after {
      // background-position: ;
    }
  }
}

@include max-width(55.5em) {
  .hero {
    &::after {
      top: -4.4rem;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    &::before {
      top: 3rem;
      background-position: center;
      background-size: 700px;
    }
    &__mercury {
      display: none;
    }
    &__venera {
      right: 30%;
      width: 27px;
    }
    &__earth {
      left: 20%;
      top: 40%;
    }
    &__cometa {
      top: 20%;
      width: 100px;
      left: 30% !important;
    }
    &__mars {
      left: 30% !important;
      top: 50% !important;
    }
    &__container {
      padding: 0 2rem;
    }
    &__sun-image {
      max-width: 13.625rem;
    }
    &__body {
      grid-gap: 52px;
    }
    &__btn {
      font-size: 1rem;
    }
    &__mars {
      width: 47px;
    }
    &__cometa {
      width: 49px;
    }
    &__earth {
      width: 48px;
    }
    &__jupiter {
      display: none;
    }
    &__btn-row {
      grid-gap: 1rem;
      margin-top: 17px;
    }
    &__btn {
      padding: 7.73px 18.04px;
    }
    &__saturn {
      bottom: 30%;
      width: 243px;
      right: -8rem;
    }
    &__descr {
      max-width: 292px;
      margin-inline: auto;
      p {
        font-size: 0.9375rem;
      }
    }
  }
}

@include max-width(550px) {
  .hero {
    &__venera {
      right: 20%;
    }
    &__cometa {
      left: 20% !important;
    }
    &__mars {
      top: 55% !important;
    }
    &__saturn {
      bottom: 35%;
    }
  }
}

@include max-width(400px) {
  .hero {
    &__earth {
      left: 5%;
    }
    &__cometa {
      top: 18% !important;
    }
    &__venera {
      right: 10%;
    }
  }
}
