.planet {
  margin-top: clamp(75px, 9.375vw, 150px);
  position: relative;
  &::before {
    @include psevdo;
    width: 100vw;
    height: 700px;
    background-image: url('../../img/planets/pseude-element.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  &__container {
    max-width: 61.5625rem;
    margin-inline: auto;
  }
}

.planet-row {
  display: flex;
  grid-gap: 6.25rem;
  justify-content: center;
  &__market {
    font-family: var(--fontFuturaLight);
    position: relative;
    font-size: clamp(12.3px, 1.5vw, 24px);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    &::before {
      @include psevdo;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 220px;
      height: 43px;
      background-position: center;
      background-size: 220px;
      background-repeat: no-repeat;
      background-image: url('../../img/planets/button-spirals.svg');
    }
    &::after {
      @include psevdo;
      width: 220px;
      background-color: var(--clrBlue);
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(25px);
      border-radius: 44px;
    }
  }
  &__play {
    font-size: clamp(20px, 2.5vw, 40px);
  }
  &__heading {
    font-size: clamp(16px, 1.5vw, 32px);
    font-weight: 500;
  }
  &__image {
    transition: all 500ms ease;
    transform: scale(0);
    opacity: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    align-items: center;
    position: relative;
    &:nth-child(3) {
      flex: 0 0 150px;
    }
    &:nth-child(2) {
      margin-top: 4rem;
      .planet-row__image {
        min-width: 434px;
        img {
          min-width: inherit;
        }
      }
    }
  }
  & ._largeHeading {
    transform: translateY(150px, 0px);
  }
  &__heading {
    font-weight: 500;
    font-size: clamp(24px, 2vw, 32px);
  }
  &__descr {
    // margin: clamp() 0px 0px;
    text-align: center;
    max-width: 29.375rem;
    p {
      font-size: clamp(0.9375rem, 1.5vw, 24px);
    }
  }
}

.absolute-item {
  max-width: 600px;
}

._largeHeading {
      font-size: clamp(24px, 3vw, 48px);
}

._activeImage {
  opacity: 1;
  transform: scale(1);
}

@include max-width(1000px) {
  .planet {
    &::before {
      background-size: cover;
      height: 25.75rem;
    }
  }
  .planet-row {
    grid-gap: .3rem;
    &__play {
      font-size: 1.25rem;
      padding: 7.65px 20.38px;
    }
    &__descr {
      max-width: 251px;
      p {
        font-size: 16px;
      }
    }
    &__market {
      &::before {
        width: 130px;
        background-size: cover;
      }
    }
    &__item {
      &:nth-child(3) {
        max-width: 77px;
      }
      &:nth-child(1) {
        max-width: 100px;
      }
      &:nth-child(2) {
        flex: 0 0 230px;
        .planet-row__image {
          min-width: auto;
          max-width: 188px;

        }
      }
    }
  }
}
