.planet {
  margin-top: clamp(150px, 20.3125vw, 325px);
  &__container {
    max-width: 61.5625rem;
    margin-inline: auto;
  }
}

.planet-row {
  display: flex;
  &__market {
    position: relative;
    font-size: clamp(12.3px, 1.5vw, 24px);
    width: 100%;
    &::before {
      @include psevdo;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url('../../img/hero/spirals.svg');
    }
  }
  &__play {
    font-size: clamp(20px, 2.5vw, 40px);
  }
  &__heading {
    font-size: clamp(16px, 1.5vw, 32px);
    font-weight: 500;
  }
  &__image {
    transition: all 500ms ease;
    transform: scale(0);
    opacity: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    align-items: center;
    position: relative;
  }
  & ._largeHeading {
    transform: translateY(150px, 0px);
  }
  &__heading {
    font-weight: 500;
    font-size: clamp(24px, 2vw, 32px);
  }
  &__descr {
    // margin: clamp() 0px 0px;
    text-align: center;
    max-width: 29.375rem;
    p {
      font-size: clamp(0.9375rem, 1.5vw, 24px);
    }
  }
}

.absolute-item {
  max-width: 600px;
}

._largeHeading {
      font-size: clamp(24px, 3vw, 48px);
}

._activeImage {
  opacity: 1;
  transform: scale(1);
}

