:root {
  --medCircleWidth: 7.1875rem;
  --largeCircleWidth: 8.6875rem;
  --smallCircleWidth: 6.0625rem;
}

.team {
  position: relative;
  &__container {
    max-width: 56.25rem;
    margin-inline: auto;
  }
  &__body {
    padding: 32vh 0;
  }
  &__rocket-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-height: 65rem;
    z-index: 10;
    img {
      max-height: inherit;
      width: inherit;
    }
  }
  &__title {
    position: relative;
    z-index: 5;
    &::after {
      @include psevdo;
      left: 64%;
      top: -5px;
      width: 200px;
      height: 49.2px;
      background-size: contain;
      background-image: url('../../img/team/little-rocket.svg');
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.team-row {
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 42.1875rem;
  margin-inline: auto;
  grid-gap: 21px 2rem;
  &__info {
    font-size: 1.5rem;
    color: var(--clrBlack);
  }
  &__circle {
    aspect-ratio: 1 / 1;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-inline: auto;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__icon {
    img {
      width: inherit;
      height: inherit;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 6px;
    flex: 0 0 8.6875rem;
    &:nth-child(1) {
      .team-row__icon {
        width: 76px;
        height: 76px;
      }
      .team-row__circle {
        width: var(--medCircleWidth);
        height: var(--medCircleWidth);
      }
    }
    &:nth-child(2) {
      transform: translateY(-1.5rem);
      .team-row__icon {
        width: 43px;
        height: 70px;
      }
      .team-row__circle {
        width: var(--medCircleWidth);
        height: var(--medCircleWidth);
      }
    }
    &:nth-child(3) {
      transform: translateY(-3rem);
      .team-row__icon {
        width: 36px;
        height: 59px;
      }
      .team-row__circle {
        width: var(--smallCircleWidth);
        height: var(--smallCircleWidth);
      }
    }
    &:nth-child(4) {
      transform: translateY(-4rem);
      .team-row__icon {
        width: 52px;
        height: 84px;
      }
      .team-row__circle {
        width: var(--largeCircleWidth);
        height: var(--largeCircleWidth);
      }
    }
    &:nth-child(5) {
      .team-row__icon {
        width: 44px;
        height: 72.5px;
      }
      .team-row__circle {
        width: var(--medCircleWidth);
        height: var(--medCircleWidth);
      }
    }
    &:nth-child(6) {
      .team-row__icon {
        width: 50px;
        height: 82px;
      }
      .team-row__circle {
        width: 8.375rem;

      }
    }
    &:nth-child(7) {
      .team-row__icon {
        width: 53px;
        height: 86px;
      }
      .team-row__circle {
        width: 8.89375rem;

      }
    }
  }
  &__image-wrapper {

  }
}

@include max-width(1275px) {
  .team {
    &__body {
      &::before {
        @include psevdo;
        top: 0;
        left: -50%;
        background-size: 150% 150%;
        background-repeat: no-repeat;
        background-image: url('../../img/team/rocket-mob.svg');
        width: 1440px;
        height: 1698px;
        background-position: center;
      }
    }
    &__row {
      flex-direction: column;
      position: relative;
      z-index: 50;

    }
    &__rocket-image {
      // left: 0;
      // top: 0;
      // width: 100vw;
      // max-height: 80rem;
      // height: 100vh;
      // transform: rotate(-90deg);
      // // left: calc(max(35vw, 40rem) * -1);
      // // top: 10%;
      display: none;
      img {
        width: 100vw;
        max-height: 80rem;
        height: 100vh;
      }
    }
  }
  .team-row {
    &__item {
      &:nth-child(1) {
        transform: scale(.5) !important;
    }
    &__info {
      font-size: 1rem;
    }
  }
}
}
